<table>
  <tr>
    <td> Title </td>
    <td> Created at </td>
  </tr>
  <% @achievements.each do |achivement| %>
  <tr>
    <td><%= achivement.title %></td>
    <td><%= achivement.created_at %></td>
  </tr>
  <% end %>
</table>