<%= form_for @achievement do |f| %>
    Title: <%= f.text_field :title%> <br>
    Description: <%= f.text_field :description%> <br>
    <%= f.select :privacy, collection: [0, 1] %> <br> <br>
    <%= f.submit 'Create Achievement' %>
<% end %>